<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidados de los productos</title>
    <link rel="stylesheet" href="../SASS/css/style.css">
    <link rel="stylesheet" href="../SASS/scss/style.scss">
    <meta name="description" content="Paso a paso para cuidar tus productos">
    <meta name="keywords" content="Emprendimiento, batamantas, lencería, lomas de zamora, lonas">
</head>
<img src="../Assets/Multimedia/logo.png" alt="logo" id="encabezado">
<h1 id="titulo">
    <H1>Cuidados</H1>
</h1>

<body>
    <main>
        <ul>
            <li> <a href="../index.html"> Inicio </a> </li>
            <li> <a href="./productos.html"> Productos </a> </li>
            <li> <a href="./quienessomos.html"> ¿Quiénes somos? </a> </li>
            <li> <a href="./contacto.html"> Contacto </a> </li>
        </ul>
        <div class="cuidados">
    </main>
    <h4 id="cuidados__prod">Batamantas</h4>
    <p id="cuidados__parrafo">Las batamantas pueden lavarse a mano o en lavarropas. Si elegimos la segunda opción,
        debemos procurar que el modo
        de lavado sea suave y con agua fría.</p>
    <h4 id="cuidados__prod">Buzos</h4>
    <p id="cuidados__parrafo">Los buzos pueden lavarse en lavarropas con agua fría.</p>
    <h4 id="cuidados__prod">Pantuflas</h4>
    <p id="cuidados__parrafo">Las pantuflas pueden lavarse con shampoo o jabón neutro y un cepillo. Debemos hacerlo de
        manera cuidadosa, y
        tenemos que dejarlas secar lejos de alguna fuente de calor para evitar deformaciones.</p>
    </div>
    <footer>
        <img src="../Assets/Multimedia/logo.png" alt="footer" id="piedp">
    </footer>
</body>

</html>