<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>not found</title>
    <link rel="stylesheet" href="../SASS/css/style.css">
    <link rel="stylesheet" href="../SASS/scss/style.scss">
    <meta name="description" content="Próximamente">
    <meta name="keywords" content="Emprendimiento, batamantas, lencería, lomas de zamora, lonas">
</head>

<body>
    <img src="../Assets/Multimedia/logo.png" alt="footer" id="encabezado">
    <header>
        <ul>
            <li> <a href="../index.html"> Inicio </a> </li>
            <li> <a href="../Views/productos.html" id="fathersubmenu"> Productos </a>
                <ul class="submenu">
                    <li><a href="Batamantas">Batamanta</a></li>
                    <li><a href="Buzos">Buzos</a></li>
                    <li><a href="Chaleco">Chaleco de toalla</a></li>
                    <li><a href="Lencería">Lencería</a></li>
                    <li><a href="Lonas">Lonas</a></li>
                </ul>
            </li>
            <li> <a href="../Views/quienessomos.html"> ¿Quiénes somos? </a> </li>
            <li> <a href="../Views/contacto.html"> Contacto </a> </li>
        </ul>
    </header>
    <h1 id="ups">
        <h2 id="ups__titulo">
            ¡Ups!
        </h2>
        <h4>
            Estamos trabajando en nuestro store, pronto tendrás novedades
        </h4>
    </h1>
</body>