<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Cartagena</title>
    <link rel="stylesheet" href="../SASS/css/style.css">
    <link rel="stylesheet" href="../SASS/scss/style.scss">
    <meta name="description" content="Todos nuestros productos">
    <meta name="keywords" content="Emprendimiento, batamantas, lencería, lomas de zamora, lonas">
</head>
<img src="../Assets/Multimedia/logo.png" alt="logo" id="encabezado">


<body>

    <header>
        <ul>
            <li> <a href="../index.html"> Inicio </a> </li>
            <li> <a href="./productos.html"> Productos </a> </li>
            <li> <a href="./quienessomos.html"> ¿Quiénes somos? </a> </li>
            <li> <a href="./contacto.html"> Contacto </a> </li>
        </ul>
    </header>
    <h1 id="titulo">
        <H1>Productos</H1>
    </h1>
    <section id="productos" about="productos">
        <div> <img src="../Assets/Multimedia/Batamanta.jpg" alt="batamanta" id="productos__item">
            Batamantas
        </div>
        <div> <img src="../Assets/Multimedia/Buzo.jpg" alt="Buzos" id="productos__item">
            Buzos
        </div>
        <div> <img src="../Assets/Multimedia/camel.jpg" alt="pantuflas" id="productos__item">
            Pantuflas
        </div>
        <div> <img src="../Assets/Multimedia/Lenc.jpg" alt="Lencería" id="productos__item">
            Lencería
        </div>
        <div> <img src="../Assets/Multimedia/Lona.jpg" alt="Lonas" id="productos__item">
            Lonas
        </div>
        <div> <img src="../Assets/Multimedia/Toalla.jpg" alt="chaleco" id="productos__item">
            Chaleco
        </div>
    </section>
    <footer>
        <img src="../Assets/Multimedia/logo.png" alt="footer" id="piedp">
    </footer>
</body>

</html>