<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiénes somos</title>
    <link rel="stylesheet" href="../SASS/css/style.css">
    <link rel="stylesheet" href="../SASS/scss/style.scss">
    <meta name="description" content="Nuestra historia">
    <meta name="keywords" content="Emprendimiento, batamantas, lencería, lomas de zamora, lonas">
</head>
<img src="../Assets/Multimedia/logo.png" alt="logo" id="encabezado">


<body>
    <header>
        <ul>
            <li> <a href="../index.html"> Inicio </a> </li>
            <li> <a href="./productos.html"> Productos </a> </li>
            <li> <a href="./quienessomos.html"> ¿Quiénes somos? </a> </li>
            <li> <a href="./contacto.html"> Contacto </a> </li>
    </header>
    <h1 id="titulo">
        <H1>Quiénes somos</H1>
    </h1>
    <section id="historia" about="quienes somos">
        <h5 id="historia__titulo">
            Nuestra historia
        </h5>
        <p id="historia__parrafo">Cartagena es un emprendimiento familiar, conformado por una madre y sus dos hijas.
            Luego de muchos años
            dedicados
            a las manualidades, decidieron comenzar este camino, dar un paso más y ofrecerle a la gente sus productos.
        </p>
    </section>
    <footer>
        <img src="../Assets/Multimedia/logo.png" alt="footer" id="piedp">
    </footer>
</body>

</html>