<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talles Cartagena</title>
    <link rel="stylesheet" href="../SASS/css/style.css">
    <link rel="stylesheet" href="../SASS/scss/style.scss">
    <meta name="description" content="Guía de talles">
    <meta name="keywords" content="Emprendimiento, batamantas, lencería, lomas de zamora, lonas">
</head>
<img src="../Assets/Multimedia/logo.png" alt="logo" id="encabezado">

<header>
    <main>
        <ul>
            <li> <a href="../index.html"> Inicio </a> </li>
            <li> <a href="./productos.html"> Productos </a> </li>
            <li> <a href="./quienessomos.html"> ¿Quiénes somos? </a> </li>
            <li> <a href="./contacto.html"> Contacto </a> </li>
        </ul>
    </main>
</header>

<body>
    <h1 id="titulo">
        <H1>Talles</H1>
    </h1>
    <br>
    <br>
    <section id=tabla>
        <section id="tabla__talles" about="talles">
            <table>
                <tr>
                    <th>Talle 1</th>
                    <th>Talle 2</th>
                    <th>Talle 3</th>
                </tr>
                <tr>
                    <th>xs/s</th>
                    <th>l/m</th>
                    <th>xl</th>
                </tr>
            </table>
        </section>
    </section>
    <br>
    <br>
    <footer>
        <img src="../Assets/Multimedia/logo.png" alt="footer" id="piedp">
    </footer>
</body>

</html>